h1 {
  color: #3f3d56;

  font-family: "Dosis", sans-serif;
  font-size: 2rem;
  font-weight: normal;

  margin-top: 2rem;
}

h1 span {
  color: #ee24ff;
  font-weight: bold;
}

body {
  font-family: "Open Sans", sans-serif;

  text-align: center;
  margin: 0;
}

#main {
  width: 39.1rem;

  margin: 4rem auto 4rem;
}

p {
  color: #828282;
}

p span,
p strong {
  font-weight: bold;
}

p span,
#footer a {
  color: #3f3d56;
}

#footer a {
  font-weight: bold;
  text-decoration: none;
}

#line {
  width: 24.4rem;
  height: 0px;

  margin: 0 auto 1rem;

  border: 1px solid #eceff2;
}

#footer a + a {
  margin-left: 2.6rem;
}

#wave {
	width: 100%;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: 0;
  margin-top: 4.5rem;
}
