h1 {
  color: #3f3d56;

  font-family: "Dosis", sans-serif;
  font-size: 32px;
  font-weight: normal;

  margin-top: 32px;
}

h1 span {
  color: #ee24ff;
  font-weight: bold;
}

body {
  font-family: "Open Sans", sans-serif;

  text-align: center;
  margin: 0;
}

#main {
  width: 626px;

  margin: 64px auto 64px;
}

p {
  color: #828282;
}

p span,
p strong {
  font-weight: bold;
}

p span,
#footer a {
  color: #3f3d56;
}

#footer a {
  font-weight: bold;
  text-decoration: none;
}

#line {
  width: 391px;
  height: 0px;

  margin: 0 auto 16px;

  border: 1px solid #eceff2;
}

#footer a + a {
  margin-left: 42px;
}

#wave {
  width: 100%;
  margin-top: 72px;
}
