h1 {
  color: #3f3d56;

  font-family: "Dosis", sans-serif;
  font-size: 32px;
  font-weight: normal;
}

h1 span {
  color: #ee24ff;
  font-weight: bold;
}

body {
  font-family: "Open Sans", sans-serif;

  text-align: center;
  margin: 0;
}

#main {
  width: 626px;

  margin: 64px auto 64px;
}

p {
  color: #828282;
}

p span {
  color: #3f3d56;
  font-weight: bold;
}

p strong {
  font-weight: bold;
}
